[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peramanathan
[access "refs/for/refs/*"]
	read = group user/Peramanathan
	push = group user/Peramanathan
	label-Code-Review = -2..+2 group user/Peramanathan
	label-Verified = -1..+1 group user/Peramanathan
	rebase = group user/Peramanathan
	removeReviewer = group user/Peramanathan
	submit = group user/Peramanathan
[access "refs/heads/*"]
	read = group user/Peramanathan
	create = group user/Peramanathan
	push = +force group user/Peramanathan
	pushMerge = group user/Peramanathan
[access "refs/tags/*"]
	push = +force group user/Peramanathan
	pushTag = group user/Peramanathan
	pushSignedTag = group user/Peramanathan
